.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    padding: 10px;
}

.search-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 5px solid #d8dde6;
    margin-bottom: 10px;
}